:root{    
    --dark-bg: hsl(0, 0%, 0%);
    --bg: hsl(0, 0%, 5%);
    --even-lighter-bg: hsl(0, 0%, 25%);
    --lighter-bg: hsl(0, 0%, 17%);
    --light-bg: hsl(0, 0%, 10%);
    --text: hsl(0, 0%, 95%);
    --text-mid: hsl(0, 0%, 80%);
    --text-muted: hsl(0, 0%, 70%);
    --border: hsl(0, 0%, 20%);
    --temporary-divs: hsl(0, 0%, 20%);
}

body.light {
    --dark-bg: hsl(0, 0%, 90%);
    --bg: hsl(0, 0%, 95%);
    --light-bg: hsl(0, 0%, 100%);
    --lighter-bg: white;
    --even-lighter-bg: hsl(0, 0%, 75%);
    --text: hsl(0, 0%, 5%);
    --text-mid: hsl(0, 0%, 20%);
    --text-muted: hsl(0, 0%, 30%);
    --border: hsl(0, 0%, 60%);
    --temporary-divs: hsl(0, 0%, 80%);
}

.wrapper {
    margin: 20px;
    margin-top: 14vh;
    .main-txt {font-size: 40px; font-weight: bolder; margin-bottom: 10vh;}
    h4 {
        font-size: 24px;
        color: var(--text-mid);
    }
    .getin {
        margin-top: 12vh;
        .login {text-decoration: underline;}
        font-size: 22px;
    }
    .btn {
            grid-area: submit;
            background-color: var(--even-lighter-bg);
            color: var(--text);
            font-size: 1.1em;
            border: none;
            border-radius: 45px;
            height: 45px;
            width: 100px;
            padding: 10px 15px;
            margin-right: 12px;
            align-self: start;
            justify-self: start;
            cursor: pointer;
        }
}