:root{    
    --dark-bg: hsl(0, 0%, 0%);
    --bg: hsl(0, 0%, 5%);
    --even-lighter-bg: hsl(0, 0%, 25%);
    --lighter-bg: hsl(0, 0%, 17%);
    --light-bg: hsl(0, 0%, 10%);
    --text: hsl(0, 0%, 95%);
    --text-muted: hsl(0, 0%, 70%);
    --border: hsl(0, 0%, 20%);
    --temporary-divs: hsl(0, 0%, 20%);
}

body.light {
    --dark-bg: hsl(0, 0%, 90%);
    --bg: hsl(0, 0%, 95%);
    --light-bg: hsl(0, 0%, 100%);
    --lighter-bg: white;
    --even-lighter-bg: hsl(0, 0%, 75%);
    --text: hsl(0, 0%, 5%);
    --text-muted: hsl(0, 0%, 30%);
    --border: hsl(0, 0%, 60%);
    --temporary-divs: hsl(0, 0%, 80%);
}

*,
*::after,
*::before {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    scrollbar-color: var(--text) var(--bg);
    scrollbar-width: thin;
    scrollbar-gutter: stable;
}

.lato-black {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.lobster-regular {
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
}
a {
    text-decoration: none;
}
*::selection {
    background-color: hsl(0%, 0%, 50%);
}

body {
    // border: solid 6px orange;
    height: 100vh;
    background-color: var(--dark-bg);
    color: var(--text);
    a, i {
        color: var(--text);
    }
}

.container {
    // border: solid purple;
    height: 100vh;
    display: grid;
    grid-template-columns: 40px 1fr 200px;
    grid-template-rows: 40px 1fr;
    grid-template-areas: 'navigation-section tools-section side-content'
                         'navigation-section main-content side-content';
}

.navigation-section {
    // border: solid blue;
    border-right: 2px solid var(--border);
    min-height: 350px;
    grid-area: navigation-section;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    // >*{border: solid;}
    .logo {
        height: 50%;
        display: flex;
        align-items: center;
        font-size: 1.2em;
    }
    .links {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        // .user {
        //     border: solid;
        //     border-radius: 70px;
        //     padding: 9px;
        // }
    }
    .settings {
        height: 50%;
        display: flex;
        align-items: center;
        .options {
            background-color: var(--dark-bg);
            color: var(--text);
            cursor: pointer;
            position: relative;
            border: none;
            padding: 9px;
        }
        .drop-down-menu {
            display: none;
            width: 150px;
            height: 90px;
            position: absolute;
            margin-left: auto;
            left: 100%;
            bottom: 50%;
        }
        .options:focus-within {
            cursor: default;
            .drop-down-menu{
                display: block;
                background-color: var(--light-bg);
                border: var(--border) solid;
                .option {
                    user-select: none;
                    cursor: pointer;
                    height: 50%;
                    width: auto;
                    display: flex;
                    align-items: center;
                    // justify-content: center;
                    font-size: 1.3em;
                    border-bottom: var(--border) solid;
                    padding-left: 6px;
                }
                .option:last-of-type {border: none;}
                .option:hover{
                    background-color: var(--lighter-bg);
                }
            }
        }
    }
}

.tools-section {
    // border: solid red;
    grid-area: tools-section;
    display: flex;
    align-items: center;
    gap: 7px;
    padding: 2px 15px;
    border-bottom: 2px solid var(--border);
    .add i {font-size: 26px;}
    .search-bar {
        border: var(--border) solid;
        border-radius: 17px;
        background-color: var(--light-bg);
        height: 85%;
        width: 75%;
        padding: 2px 7px;
        padding-right: 10px;
        display: flex;
        align-items: center;
        input[type='text'] {
            border: none;
            background-color: var(--light-bg);
            padding: 0px 11px;
            width: 100%;
            color: var(--text);
        }
        input[type='text']:focus {
            outline: none;
        } 
        >i {
            font-size: 18px;
        }
    }

}

.main-content {
    // border: solid green;
    display: flex;
    flex-direction: column;
    grid-area: main-content;
    overflow-x: hidden;
    overflow-y: scroll;
    .post-div, .comment-div, .reply-div {
        border: solid var(--border);
        border-radius: 12px;
        background-color: var(--bg);
        margin: 10px;
        padding-left:10px;
        padding-bottom: 10px;
        .first-row {
            display: flex;
            align-items: center;
            height: 40px;
            gap: 15px;
            border-bottom: 1px solid var(--border);
            .icon{i{font-size: 1.2em;}}
            .published {
                color: var(--text-muted);
            } 
            .options {
                margin-left: auto;
                margin-right: 5px;
                border: var(--border) solid;
                background-color: var(--bg);
                color: var(--text);
                border-radius: 100px;
                padding: 5px 14px;
                cursor: pointer;
                position: relative;
            }
            .drop-down-menu {
                display: none;
                width: 150px;
                height: 90px;
                position: absolute;
                margin-left: auto;
                right: 50%;
            }
            .options:focus-within  {
                cursor: default;
                .drop-down-menu{
                    display: block;
                    background-color: var(--light-bg);
                    border: var(--border) solid;
                    .option {
                        user-select: none;
                        cursor: pointer;
                        height: 50%;
                        width: auto;
                        display: flex;
                        align-items: center;
                        font-size: 1.3em;
                        border-bottom: var(--border) solid;
                        padding-left: 6px;
                    }
                    .option:last-of-type {border: none;}
                    .option:hover{
                        background-color: var(--lighter-bg);
                    }
                }
            }

        }
        .content {
            padding: 10px 12px;
        }
        .interactions {

            display: flex;
            gap: 25px;
            i {font-size: 20px; cursor: pointer; padding: 4px;}
            form {
                input[type='radio'] {display: none;}
                display: flex;
                gap: 15px;
            }
        }
    }

}

.side-content {
    // border: solid yellow;
    grid-area: side-content;
    border-left: 2px solid var(--border);
}

@media (max-width: 640px) {
    .container {
    grid-template-columns: 40px 1fr;
    grid-template-areas: 'navigation-section tools-section'
                         'navigation-section main-content';
    }
    .side-content {
        display: none;
    }
}
@media (max-width: 400px) {
    .container {
    grid-template-columns: 1fr;
    grid-template-areas: 'tools-section'
                         'main-content';
    }
    .navigation-section {
        display: none;
    }
}
