{%extends 'base.html'%}

{%block main_content%}
    <h1>DASHBOARD PAGE HEHE, YOU'RE LOGGED IN {{user.username}}</h1>
    <h1>DASHBOARD PAGE HEHE, YOU'RE LOGGED IN {{user.username}}</h1>
    <h1>DASHBOARD PAGE HEHE, YOU'RE LOGGED IN {{user.username}}</h1>
    <h1>DASHBOARD PAGE HEHE, YOU'RE LOGGED IN {{user.username}}</h1>
    <h1>DASHBOARD PAGE HEHE, YOU'RE LOGGED IN {{user.username}}</h1>
    <h1>DASHBOARD PAGE HEHE, YOU'RE LOGGED IN {{user.username}}</h1>
    <h1>DASHBOARD PAGE HEHE, YOU'RE LOGGED IN {{user.username}}</h1>
    <h1>DASHBOARD PAGE HEHE, YOU'RE LOGGED IN {{user.username}}</h1>
{%endblock%}

{%block side_content%}
    <h2>DASHBOARD side content</h2>
    <h2>DASHBOARD side content</h2>
    <h2>DASHBOARD side content</h2>
    <h2>DASHBOARD side content</h2>
    <h2>DASHBOARD side content</h2>
    <h2>DASHBOARD side content</h2>
    <a href="{{url_for('logout')}}">Logout</a>
{%endblock%}