{%extends 'base.html'%}

{%block head%}
    <title>BundleKey | Edit</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='edit.css') }}">
{%endblock%}

{%block main_content%}
    <h1>Edit Your {{type | capitalize}} Here</h1>
    <form action="" method="POST">
        <textarea name="content" id="" placeholder="What's on your mind? ..."
         maxlength="200" minlength="5" required>{{content}}</textarea>
        <input type="submit" name="" id="" class="submit">
    </form>
{%endblock%}

{%block side_content%}
    <h2>Home side content</h2>
    <h2>Home side content</h2>
    <h2>Home side content</h2>
    <h2>Home side content</h2>
{%endblock%}