{%extends 'base.html'%}

{%block head%}
    <title>BundleKey | Home</title>
{%endblock%}

{%block main_content%}
    <h1>THIS IS HOME</h1>
    <h1>THIS IS HOME</h1>
    <h1>THIS IS HOME</h1>
    <h1>THIS IS HOME</h1>
    <h1>THIS IS HOME</h1>
    <h1>THIS IS HOME</h1>
    <h1>THIS IS HOME</h1>
    <h1>THIS IS HOME</h1>
{%endblock%}

{%block side_content%}
    <h2>Home side content</h2>
    <h2>Home side content</h2>
    <h2>Home side content</h2>
    <h2>Home side content</h2>
{%endblock%}