{%extends 'base.html'%}

{%block head%}
    <title>BundleKey | Post</title>
{%endblock%}

{%block main_content%}
    <form action="{{url_for('post')}}" method="POST">
        <textarea name="content" id="" placeholder="What's on your mind? ..."
        style="width: 100%; height: 300px;" maxlength="200"></textarea>
        <input type="submit" name="" id="">
    </form>
{%endblock%}

{%block side_content%}
    <h2>Home side content</h2>
    <h2>Home side content</h2>
    <h2>Home side content</h2>
    <h2>Home side content</h2>
{%endblock%}